extends layout

block content
  div.container
    div.row
      div.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        div.post-preview
        - var articles = env.helpers.getArticles(contents);
        title= locals.name
        atom:link(href=locals.url + '/feed.xml', rel='self', type='application/rss+xml')
        each article in articles
          h4
            - var permalink = locals.url + article.url;
            a(href=permalink)= article.title
          p.post-subtitle= article.intro
          p.post-meta= article.rfc822date
