extends layout

block content
  div.container
    div.row
      div.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        div.post-preview
        - var articles = env.helpers.getArticles(contents);
        title= locals.name
        atom:link(href=locals.url + '/feed.xml', rel='self', type='application/rss+xml')
        link= locals.url
        description= locals.description
        pubDate= articles[0].rfc822date
        generator Wintersmith - https://github.com/jnordberg/wintersmith
        language en
        each article in articles
            h4
              a(href="")= article.title
            p.post-subtitle= article
            p.post-meta Posted on September 24, 2014
