extends layout

block nav
  div.collapse.navbar-collapse
    ul.nav.navbar-nav.navbar-right
      li
        a.btn.btn-simple(href=locals.url+'/images/Saundie%20Weiss%20Resume%20-%20Full%20Stack%20Developer.pdf') Resume
      li
        a.btn.btn-simple(href=contents['portfolio.json'].url) Portfolio
      li
        a.btn.btn-simple(href=contents['blog.json'].url) Blog

block content
  div.profile-content.section-white
    div.container
      div.row.owner
        div.col-md-2.col-md-offset-5.col-sm-4.col-sm-offset-4.col-xs-6.col-xs-offset-3.text-center
          div.avatar.hidden-xs
            img(src=contents.images['GalvanizeHeadshot-132 cropped.jpeg'].url, alt="profile image").img-circle.img-no-padding.img-responsive
        div.row
          div.col-md-6.col-md-offset-3.col-xs-9.col-xs-offset-1.text-center
            h4.visible-xs.xs-only(href=locals.url) Saundie Weiss
            h4.name-title.hidden-xs Saundie Weiss
            h5 Full Stack Developer
            p Hello! I’m a recent graduate of the Full Stack Program at Galvanize in Fort Collins, CO. I’m curious, creative, and always looking to learn more. As a former copywriter, I know that details matter. I strive to deliver polished applications with clean code. I am looking for a company that values high-quality work and individual growth. Some of my loves include Angular, Material Design, Node, the JavaScript Jabber podcast, hiking in the mountains, long road trips, cooking, and really good espresso.


            a(href='https://github.com/saundie184').btn.btn-simple
              i.fa.fa-github.fa-2x
            a(href='https://www.linkedin.com/in/saundieweiss').btn.btn-simple
              i.fa.fa-linkedin.fa-2x
            a(href="mailto:saundieweiss@gmail.com").btn.btn-simple
              i.fa.fa-at.fa-2x
