doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      //     Stylesheets
      link(href=contents.css['bootstrap.css'].url, rel="stylesheet")
      link(href=contents.css['ct-paper.css'].url, rel="stylesheet")
      link(href=contents.css['demo.css'].url, rel="stylesheet")
      link(href=contents.css['examples.css'].url, rel="stylesheet")

      //     Fonts and icons
      link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel="stylesheet")
      link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,500', rel='stylesheet', type='text/css')
      link(href='http://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
      link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')

  body
    nav.navbar.navbar-relative.navbar-ct-primary#register-navbar
      div.container
        div.navbar-header
          a.navbar-brand.active-page(href=locals.url) Saundie Weiss
        div.collapse.navbar-collapse#idnavigation-example-2
          block nav
          
    div.wrapper
      div.container
        div.row
          div.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          block content

    block footer
    footer.footer-demo.section-white
      div.container
        div.copyright.pull-right
