extends layout

block nav
  a.navbar-brand.active-page.hidden-xs(href=locals.url) Saundie Voorhees
    div.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a.btn.btn-simple.visible-xs(href=locals.url) Home
        li
          a.btn.btn-simple.active-page.hidden-xs(href=contents['portfolio.json'].url) Portfolio
        li
          a.btn.btn-simple(href=contents['blog.json'].url) Blog

block content
  div.container
    div.row
      div.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-xs-9.col-xs-offset-1
        a(href="https://github.com/saundie184/health-track")
          h4.post-title HealthTrack
        p.post-meta Technologies used: HTML, CSS, JavaScript, Angular, Angular Material Design
        p.post-subtitle This was my capstone project for Galvanize. I wanted to make an application that was meaningful and could help people. This application helps families keep track of their medical history. HealthTrack allows you to easily have discussions with your doctor about health issues that run in your family. You can create health history profiles for yourself and your family members. You can add health events like illnesses or conditions. You can also view a timeline of health events for yourself and for each family member. You can also search for common health conditions among family members.
        a(href='https://healthtrack.online')
          p.post-meta View site
        a(href='https://vimeo.com/161038848')
          p.post-meta View screencast
        a(href="https://healthtrack.online")
          img.img-thumbnail(src=contents.images['HealthTrack-img.png'].url)
        hr
    div.row
      div.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-xs-9.col-xs-offset-1
        a(href="https://github.com/IanSmith89/dreamStream")
          h4.post-title DreamStream
        p.post-meta Technologies used: HTML, CSS, SASS, JavaScript, Ionic, Angular, IBM Watson Personality Insights API, D3 Data Visualizations, d3-cloud by Jason Davies, HighCharts
        p.post-subtitle Our dream tracker mobile application helps you keep track of your dreams. You can describe the each dream and give it a rating. You can also track your mood (overall life stress) at that time and the duration of sleep. All data inputs are calculated and visualized in charts to show average mood, average rating, and mood compared to rating. The data is analyzed by Watson Personality Insights API and shows a pie chart of how your dreams reflect your personality. The common words from the dreams are populated into a word cloud. Filters are added to exclude common words like "a, the, and, etc." You can also add custom word filters to exclude any other common words that you do not want to see in your word cloud. This was a group project, and I focused on setting up the Ionic framework, building the D3 Word Cloud, adding custom filters, and setting up routes.
        a(href='https://dreamstream.firebaseapp.com')
          p.post-meta View site (mobile application shown in-browser)
        a(href=' https://vimeo.com/157201586')
          p.post-meta View screencast
        a(href="https://dreamstream.firebaseapp.com")
          img.img-thumbnail(src=contents.images['DreamStream screenshots.png'].url)
        hr
    div.row
      div.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-xs-9.col-xs-offset-1
        a(href="https://whatintheworld.firebaseapp.com/")
          h4.post-title Galvanize Ping Pong League
        p.post-meta Technologies used: HTML, CSS, Bootstrap, JavaScript, Node, Express, Slack API, Reddit API
        p.post-subtitle This application is a score-tracking application for ping pong games. This was a group project that five of us from my Galvanize cohort worked on. Users are able to use the application with or without a login. The games are logged in a database and wins/losses are tracked with users if they create accounts. Users can see standings for the top ten rankings in the database on the homepage. The homepage has top five Reddit articles about table tennis. Another feature of this application is the integration with Slack. We set up a separate Slack channel that notifies users when a match has been logged. It shows the scores in the Slack channel. The main parts of this application that I worked on were pulling in the Reddit API and generating a list of articles for the homepage and setting up the Slack integration. I also helped set up an AJAX call to allow users to update their own user information. My favorite part of this project was setting up the Slack integration. I really enjoy working with integrations and making applications more valuable for users.
        a(href='https://galvanize-ping-pong-league.herokuapp.com/')
          p.post-meta Visit site
        a(href='https://vimeo.com/146939181')
          p.post-meta View screencast
        a(href='https://galvanize-ping-pong-league.herokuapp.com/')
          img.img-thumbnail(src=contents.images['gppl_screenshot.png'].url)
        hr
    div.row
      div.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-xs-9.col-xs-offset-1
        a(href="https://whatintheworld.firebaseapp.com/")
          h4.post-title What in the World
        p.post-meta Technologies used: HTML, CSS, JavaScript, jQuery
        p.post-subtitle For my first project in gSchool, I built an application to help engage middle school students in current news. They will be able to search for news stories by choosing their own search term. Stories are displayed with the newest items on the top. The publication date is also shown, so students can immediately see which stories were published today. I used AJAX to call the Guardian API to query news articles based on a search term. The categories (sections) are also displayed next to the articles with icons. Since the students can pick any search term, they will be able to see how news stories (from a variety of sections) may contain information that they care about. I used Bootstrap for the CSS and Bootstrap glyphicons for the icons. I created a map object that matched each section name to the icon. Since the Guardian has a lot of sections, I created a default icon for cases where the section name was not listed in the map. This project gave me more experience with JavaScript, jQuery, APIs, and specifically with handling errors and default cases.
        a(href='https://whatintheworld.firebaseapp.com/')
          p.post-meta Visit site
        a(href='https://vimeo.com/146939181')
          p.post-meta View screencast
        a(href="https://whatintheworld.firebaseapp.com/")
          img.img-thumbnail(src=contents.images['What in the World screenshot.png'].url)
        hr

  div.container
    div.modal-body
      a(href='https://github.com/saundie184').btn.btn-simple
        i.fa.fa-github.fa-2x
      a(href='https://www.linkedin.com/in/saundieweiss').btn.btn-simple
        i.fa.fa-linkedin.fa-2x
      a(href='mailto:saundievoorhees@gmail.com').btn.btn-simple
        i.fa.fa-at.fa-2x
